.header {
	background-color: rgb(220, 224, 230);
	overflow-x: hidden;

	.sidebar {
		display: flex;
		min-height: 100vh;

		.top_content {
			padding: 40px;
			padding-top: 10%;
			display: flex;
			flex-wrap: wrap;

			.poster {
				width: 300px;
				height: 450px;
				overflow: hidden;
				border-radius: 10px;
				border: 3px solid rgb(75, 6, 26);
				margin-top: 30px;
			}

			.content_details {
				padding: 0px 8px 0px 22px;
				max-width: 60%;
				padding-left: 4%;
				margin-top: 20px;

				.movie_title {
					font-family: "Maax";
					color: #770714;
					font-size: 30px;
				}

				.title {
					color: black;
					font-family: "Maax";
					font-size: 40px;
					margin-top: 10px;
				}

				.overview {
					color: black;
					font-family: "Maax";
					line-height: 1.8;
				}

				.movie_details {
					padding-top: 6px;

					.details {
						cursor: pointer;
						position: relative;
						display: flex;
						flex-direction: column;
						flex-wrap: wrap;

						.information {
							font-family: "Maax";
							margin-bottom: 10px;
							border-radius: 5px;
							border: 10px solid #7a0404;
							text-decoration: none;
							background-color: #7a0404;
							color: white;
							letter-spacing: 0.1em;
						}

						.details-content {
							margin-bottom: 18px;
							color: rgb(7, 6, 6);
							font-family: "Maax";
							padding-left: 15px;
							padding-right: 55px;
						}
					}
				}

				.rating {
					color: white;
					background-color: #031d33;
					font-family: "Maax";
					width: 126px;
					text-align: center;
					padding: 8px;
					border-radius: 5px;
					margin-top: 10px;
					cursor: pointer;
					position: absolute;
					right: 30px;
					top: 80px;

					&:hover {
						transition: transform 0.5s;
						transform: scale(1.1);
					}
				}

				.body_container {
					display: none;
					position: fixed;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.6);
					z-index: 1;

					&.selected {
						display: block;
					}

					.content-container {
						position: relative;
						left: 45%;
						display: flex;
						justify-content: center;
						align-items: center;
						width: 10%;
						height: 100%;

						.content {
							padding: 30px;
							width: 400px;
							height: 220px;
							border-radius: 10px;
							background-color: #031d33;
						}
					}
				}

				.gallery_title {
					font-family: "Maax";
					margin-top: 50px;
					font-size: 25px;
					padding-bottom: 20px;
					color: #7a0404;
				}
			}
		}
	}
}
