/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Maax";
  font-weight: 400;
  font-style: normal;
  src: local('Maax'),
  url("./assets/fonts/Maax/Maax-Bold.woff")format("woff");
}
